<div class="block-signup-form container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-5  block-singup-form__register-container">

            <div class="cta-block-button red">
                <p class="cta-block-button__text ng-binding" ng-bind-html="'signup.cta.title' | translate" ></p>
                <div class="cta-block-button__wrapper"></div>
                <div class="cta-block-button__white-box"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-7">
            <div class="block-signup-form__container">

                <iframe ng-src="{{trustSrc(signup_url)}}"
                        class="lazyload iframe-loading"
                        name="iframeSignup"
                        id="iframeSignup"
                        frameborder="0"></iframe>

                <!--<div style="color: red; padding: 150px 0 ;" ng-if="!showIframe">
                    User created
                </div>-->
            </div>
        </div>
    </div>
</div>
